<!-- Header -->
<header class="header">
  <!-- Main Navigation -->
  <nav class="main-nav">
    <div class="container-header">
      <a
        href="/demo-landing-page-design-4/"
        style="display: flex; align-items: center"
      >
        <img
          src="https://github.com/Mek-Chutchai/images/blob/main/DataInvertPNG.png?raw=true"
          alt="Data Invert Logo"
          style="width: 132px"
        />
        <!-- <span class="logo-text">Data<strong>Invert</strong></span> -->
      </a>

      <button
        class="hamburger"
        aria-label="Toggle navigation"
        aria-expanded="false"
      >
        <span></span>
        <span></span>
        <span></span>
      </button>

      <ul class="nav-menu">
        <li>
          <a href="/demo-landing-page-design-4" class="nav-link">Home</a>
        </li>
        <li class="nav-dropdown">
          <a href="/demo-landing-page-design-4/about" class="nav-link">About</a>
        </li>
        <li class="nav-dropdown">
          <a href="/demo-landing-page-design-4/services" class="nav-link"
            >Services</a
          >
        </li>
        <li class="nav-dropdown">
          <a href="/demo-landing-page-design-4/smart-city" class="nav-link"
            >Solutions</a
          >
          <ul class="dropdown-menu">
            <li>
              <a href="/demo-landing-page-design-4/smart-city">Smart City</a>
            </li>
            <li>
              <a href="/demo-landing-page-design-4/smart-school"
                >Smart School</a
              >
            </li>
            <li>
              <a href="/demo-landing-page-design-4/smart-crm">Smart CRM</a>
            </li>
            <li>
              <a href="/demo-landing-page-design-4/business-data-analytics"
                >Business Data Analytics</a
              >
            </li>
            <li>
              <a href="/demo-landing-page-design-4/web-mobile-app-dev"
                >Web & Mobile Application Development</a
              >
            </li>
            <li>
              <a
                href="/demo-landing-page-design-4/predictive-preventive-solutions"
                >Predictive & Preventive Solutions</a
              >
            </li>
            <li>
              <a href="/demo-landing-page-design-4/energy-saving-solutions"
                >Energy Saving Solutions</a
              >
            </li>
            <li>
              <a href="/demo-landing-page-design-4/automation-solutions"
                >Automation Solutions</a
              >
            </li>
            <li>
              <a href="/demo-landing-page-design-4/rfid-solutions"
                >RFID Solutions</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-dropdown">
          <a href="/demo-landing-page-design-4/product-aidc" class="nav-link"
            >Products</a
          >
          <ul class="dropdown-menu">
            <li>
              <a href="/demo-landing-page-design-4/product-aidc">AIDC</a>
            </li>
            <li>
              <a href="/demo-landing-page-design-4/product-it-hardware"
                >IT Technology Hardware</a
              >
            </li>
            <li>
              <a href="/demo-landing-page-design-4/product-it-software"
                >IT Technology Software</a
              >
            </li>
            <li>
              <a href="/demo-landing-page-design-4/product-hardware-security"
                >Hardware Security</a
              >
            </li>
            <li>
              <a href="/demo-landing-page-design-4/product-software-security"
                >Software Security</a
              >
            </li>
          </ul>
        </li>
        <!-- <li class="nav-dropdown">
          <a href="/demo-landing-page-design-4/customer-manufacturing" class="nav-link">Customers</a>
          <ul class="dropdown-menu">
            <li><a hr/demo-landing-page-design-4/ef="customer-manufacturing">Manufacturing</a></li>
            <li>
              <a href="/demo-landing-page-design-4/customer-logistics">Logistic & Supply Chain</a>
            </li>
            <li><a hr/demo-landing-page-design-4/ef="customer-hospitality">Hospitality</a></li>
            <li><a hr/demo-landing-page-design-4/ef="customer-retail">Retail</a></li>
            <li><a hr/demo-landing-page-design-4/ef="customer-government">Government</a></li>
            <li><a hr/demo-landing-page-design-4/ef="customer-education">Education</a></li>
            <li><a hr/demo-landing-page-design-4/ef="customer-banking">Banking</a></li>
          </ul>
        </li> -->
        <li>
          <a href="/demo-landing-page-design-4/zebra-brand" class="nav-link"
            >Brands</a
          >
        </li>
        <li>
          <a
            href="/demo-landing-page-design-4/knowledge-center"
            class="nav-link"
            >Knowledge Center</a
          >
        </li>
        <!-- <li><a href="#demo-landing-page-design-4/case-studies" class="nav-link">Case Studies</a></li> -->
        <li>
          <a href="/demo-landing-page-design-4/contact" class="nav-link"
            >Contact</a
          >
        </li>
        <!-- <li><a href="#careers" class="nav-link">Careers</a></li> -->
      </ul>

      <div class="nav-contact-info">
        <a href="tel:+66021234444" class="nav-contact-phone"
          >(+66)02 123 4444</a
        >
        <a href="mailto:sales@dataInvert.co.th" class="nav-contact-email"
          >sales@dataInvert.co.th</a
        >
      </div>
    </div>
  </nav>
</header>
